<!DOCTYPE HTML>
<html>
	<head>
		<title>Udghosh'19 : Sponsors</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" href="sponsors/assets/css/main.css" />
	</head>
	<style>
		ul.mps li{
             display: inline-block;
         }
		</style>
	<body>
		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Udghosh</h1>
					<p>Proudly Presents its 16th Edition Sponsors</p>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
							<a href="https://www.perfitalia.com/"><img src="sponsors/images/perf.png" alt="" /></a>
						<h2>Title Sponsor</h2>
						
					</section>

				<!-- Items -->
					<section class="main items">
						<article class="item">
							<header>
								<a href="#"><img src="sponsors/images/pic01.jpg" alt="" /></a>
								<h3>FYRE</h3>
							</header>
							<p style="font-size: 20px; font-weight: bold;">Energy Drink Partner</p>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="sponsors/images/pic02.jpg" alt="" /></a>
								<h3>SBI</h3>
							</header>
							<p style="font-size: 20px; font-weight: bold;">Banking Partner</p>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="sponsors/images/pic03.png" alt="" /></a>
								<h3>Kanpur Development Authority</h3>
							</header>
							<p style="font-size: 20px; font-weight: bold;">Development Partner</p>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="sponsors/images/pic03.jpg" alt="" /></a>
								<h3>Ultratech Cement</h3>
							</header>
							<p style="font-size: 20px; font-weight: bold;">Associate Sponsor</p>
						</article>
						<article class="item">
							<header>
								<a href="https://www.blogadda.com/"><img src="sponsors/images/blogadda.png" alt="" /></a>
								<h3>Blog Adda</h3>
							</header>
							<p style="font-size: 20px; font-weight: bold;">Online Blogging Partner</p>
						</article>
						
					</section>


				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
						<li><a href="https://twitter.com/udghoshiitk?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/udghosh.iitk/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/udghosh_iitk/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.youtube.com/user/udghosh11" class="icon fa-youtube"><span class="label">Instagram</span></a></li>
						</ul>
						<p class="copyright">&copy; Udghosh'19</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="sponsors/assets/js/jquery.min.js"></script>
			<script src="sponsors/assets/js/skel.min.js"></script>
			<script src="sponsors/assets/js/util.js"></script>
			<script src="sponsors/assets/js/main.js"></script>

	</body>
</html>